<!DOCTYPE html>
<html>
<head>
	<title>MP3 Upload Form</title>
</head>
<body>
	<h1>Upload MP3 Files for Remix</h1>
	<form action="/remix" method="post" enctype="multipart/form-data">
		<label for="mp3file1">Select an MP3 file 1:</label><br>
		<input type="file" id="mp3file1" name="mp3file1"><br>
		<label for="mp3file2">Select an MP3 file 2:</label><br>
		<input type="file" id="mp3file2" name="mp3file2"><br>
		<input type="submit" value="Upload">
	</form>
	<h1>Upload Split File for 2</h1>
	<form action="/split_audio" method="post" enctype="multipart/form-data">
		<label for="audio_file">Select an audio file :</label><br>
		<input type="file" id="audio_file" name="audio_file"><br>
		<input type="submit" value="Upload">
	</form>
	<h1>Upload Split File for 4</h1>
	<form action="/split_audio1" method="post" enctype="multipart/form-data">
		<label for="audio_file1">Select an audio file :</label><br>
		<input type="file" id="audio_file1" name="audio_file1"><br>
		<input type="submit" value="Upload">
	</form>
</body>
</html>